<%- include('../partials/header') %>

<form id="new-form" action="/games" method="POST">
    <label>Title:</label>
    <input type="text" name="title">
    <label>Company:</label>
    <input type="text" name="company">
    <label>Release Year:</label>
    <input type="text" name="releaseYear">
    <input type="submit" value="Add Game">

</form>




<%- include('../partials/footer') %>