<%- include('../partials/header') %>

<div>Before adding, please ensure that the Company is not in the following list:</div>
<section>
    <% companies.forEach(function(c) { %>
        <article><%= c.name %></article>
    <% }) %>
</section>

<form id="add-company-form" action="/companies" method="POST">
    <label>Company:</label>
    <input type="text" name="name">
    <input type="submit" value="Add Company">

</form>

<%- include('../partials/footer') %>